body {
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  padding: 12px 20px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}
